<!-- <script src="/js/jquery.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
<!-- <script src="/js/semantic.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="/css/site.css">
<!-- <script src="/js/site.js"></script> -->
