<div class="ui head container">
    <div class="ui hidden divider"></div>
    <div class="ui menu">
        <div class="header item">
            <img class="logo" src="/img/gopher.png">
             Example For GoLive
        </div>
        <a class="item">
            GitHub
        </a>
        <a class="item">
            GoLive
        </a>
    </div>

    <h1 class="ui header">ToDo List</h1>
    <div class="ui hidden divider"></div>
</div>
{{ render .Form }}
